@import "normalize.css";
@import "typography.css";

body {
  display: flex;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header
{
  background-color: #474746;
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button
{
  height: auto;
  width: 30px;
}

.menu__logo
{
  width: 150px;
  height: auto;
}
.footer {
  background-color: #474746;
  width: 100%;
  margin-top: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.footer>p {
  color: white;
  font-size: 0.8em;
  margin: 0.5em;
  margin-left: 1em;
  font-weight: lighter;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 1em;
}

.h2
{
  font-size: 2.5em;
  font-weight: bolder;
  margin: 1.5rem;
  text-align: center;
}

.nadpis
{
  font-size: 1.5em;
  font-weight: bolder;
  margin: 1rem;
  text-align: center;
}
.logo
{
  width: 70%;
  max-width: 600px;
  height: auto;
}

.main__image
{
  width: 100%;
  max-width: 800px;
  height: auto;
}

.jidelni__text
{
  text-align: center;
  margin: 2rem 2rem 0rem 2rem;
}

.recenze
{
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

.kontakt__container
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  font-size: small;
}

.kontakt__bold
{
  font-weight: bold;
}

.recenze__form
{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px; /* Limit maximum size */
  margin: 0 auto; /* Center the form */
}

.recenze__form button {
  align-self: flex-start;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: #acacac solid 2px;
}

.recenze__form input,
.recenze__form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

