@import "normalize.css";
@import "typography.css";

body {
  display: flex;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header
{
  background-color: #474746;
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button
{
  height: auto;
  width: 40px;
}

.menu__logo
{
  width: 200px;
  height: auto;
}
.footer {
  background-color: #474746;
  width: 100%;
  margin-top: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.footer>p {
  color: white;
  font-size: 0.8em;
  margin: 0.5em;
  margin-left: 1em;
  font-weight: lighter;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 1em;
}

.main__text
{
  font-size: 2em;
  font-weight: bolder;
  margin: 1rem;
}

.logo
{
  width: 70%;
  max-width: 600px;
  height: auto;
}

.main__image
{
  width: 100%;
  max-width: 800px;
  height: auto;
}